.pieces {
  position: absolute;
  left: 6em;
  right: 4em;
  top: 6em;
  bottom: 3em;
  background-color: rgba(200, 0, 0, 0.5);
}

.piece {
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  font-size: 2em;
}

.svgTest {
  background-image: url {
    ../../assets/wr.svg;
  }
  color: green;
}
